<div class="user-tab">
  <div class="user-tab__content">
    <form class="form" [formGroup]="passwordForm">
      <div class="user-control">
        <div class="user-control__label">
          {{'USER_SETTINGS_PAGE.PASSWORD.CURRENT_PASSWORD' | translate}}
        </div>
        <app-password-input
          [formControl]="oldPasswordControl"
          [invalid]="oldPasswordControl.invalid && oldPasswordControl.dirty">
        </app-password-input>
        <ng-container *ngIf="oldPasswordControl as control">
          <div class="errors" *ngIf="control.dirty && control.invalid">
            <div class="errors-item" *ngIf="control.errors.isWrong">
              {{'USER_SETTINGS_PAGE.PASSWORD.MESSAGES.PASSWORD_IS_WRONG' | translate}}
            </div>
            <div class="errors-item" *ngIf="control.errors.required">
              {{'MESSAGES.REQUIRED' | translate}}
            </div>
          </div>
        </ng-container>
      </div>

      <div class="user-control">
        <div class="user-control__label">
          {{'USER_SETTINGS_PAGE.PASSWORD.NEW_PASSWORD' | translate}}
        </div>
        <app-password-input
          [formControl]="newPasswordControl"
          [invalid]="newPasswordControl.invalid && newPasswordControl.dirty">
        </app-password-input>
        <ng-container *ngIf="newPasswordControl as control">
          <div class="errors" *ngIf="control.dirty && control.invalid">
            <div class="errors-item" *ngIf="control.errors.noDigit">
              {{'USER_SETTINGS_PAGE.PASSWORD.MESSAGES.PASSWORD_ONE_NUMBER' | translate}}
            </div>
            <div class="errors-item" *ngIf="control.errors.noLowercaseLetter">
              {{'USER_SETTINGS_PAGE.PASSWORD.MESSAGES.PASSWORD_ONE_LETTER' | translate}}
            </div>
            <div class="errors-item" *ngIf="control.errors.minlength">
              {{'USER_SETTINGS_PAGE.PASSWORD.MESSAGES.PASSWORD_MIN_LENGTH' | translate}}
            </div>
            <div class="errors-item" *ngIf="control.errors.isEmail">
              {{'USER_SETTINGS_PAGE.PASSWORD.MESSAGES.PASSWORD_NOT_EMAIL' | translate}}
            </div>
            <div class="errors-item" *ngIf="control.errors.required">
              {{'MESSAGES.REQUIRED' | translate}}
            </div>
          </div>
        </ng-container>
      </div>

      <p-button
        class="button-blue"
        (onClick)="submitNewPassword()"
        [disabled]="passwordForm.invalid"
        [label]="'COMMON.CHANGE' | translate"
      ></p-button>
    </form>
  </div>
</div>
