<div class="upload-note">
  <div class="upload-note__content">
    <div class="upload-note__img">
      <img class="upload-note__icon" src="/assets/img/agreement-paper.svg" alt="agreement-paper icon"/>
    </div>
    <div class="upload-note__description">
      <span class="upload-note__text upload-note__text_bold">
        {{'ORDERS_PAGE.COMMON.PLEASE_NOTE' | translate}}
      </span>
      <span class="upload-note__text">
        {{ altNoteKey || 'ORDERS_PAGE.COMMON.TO_COMPLETE_ORDER' | translate}}
      </span>
    </div>
  </div>
</div>
