@import '../../../styles/media.scss';
@import '../../../styles/variables.scss';

:host ::ng-deep {
  .invite {
    display: flex;
    justify-content: center;
    &-container {
      padding-top: 24px;
      @include tablets {
        padding-top: 56px;
      }
    }
    &-title {
      margin-bottom: 19px;
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include tablets {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
    &-request {
      max-width: 926px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding: 24px 16px;
      margin-bottom: 16px;
      @include tablets {
        padding: 32px 33px;
        margin-bottom: 0;
      }
      &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: .12px;
        color: #192F57;
        margin-bottom: 8px;
        &_or {
          margin-bottom: 16px;
        }
      }
      &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: $gray90;
        margin-bottom: 24px;
      }
      &__tip {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: 0.17px;
        color: $gray70;
      }

      .referral {
        display: flex;
        flex-direction: column;
        &.referral_link {
          margin-bottom: 24px;
        }
        &.referral_code {
          margin-bottom: 32px;
        }

        &-label {
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.2px;
          color: $gray70;
          margin-bottom: 8px;
        }

        &-copy {
          width: 20px;
          height: 20px;
          position: absolute;
          right: 11px;
          top: 50%;
          transform: translateY(-50%);
          border: 0;
          background-color: transparent;
          outline: none;
          cursor: pointer;
        }

        &-input {
          position: relative;
          &_link {
            max-width: 467px;
            .input {
              width: 100%;
            }
          }
          &_code {
            max-width: 254px;
            .input {
              width: 100%;
            }
          }

          .copied-code-toast{
            .ui-toast{
              position: absolute;
              right:10px;
              top: -100%;
              width: 125px;

              .ui-toast-message {
                border-radius: 4px;
                background-color: #FFFFFF;
                box-shadow: 0 2px 8px 0 rgba(189,193,199,0.5);
                padding: 3px 0;
                max-height: 94px;
                text-overflow: ellipsis;
                .ui-toast-message-content {
                  padding: .5em 1em;
                }
              }
              .ui-toast-detail {
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                color: $gray90;
                text-align: center;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}
