// containers
$desktopContainer: 1248px;
$tabletsHorizontalContainer: 960px;
$tabletsContainer: 768px;

// primary colors
$blue50: #0083BB;
$navy: #193057;
$orange50: #EF9200;

// shades of primary colors
$blue0: #E6F3F8;
$blue10: #B3DAEB;
$blue30: #4DA8CF;
$blue70: #006996;
$blue90: #004F70;
$orange0: #FDF4E6;
$orange10: #FADEB3;
$orange30: #F4B34D;

// grays colors
$gray10: #FAFBFF;
$gray20: #F3F3F3;
$gray30: #D9DCE1;
$gray50: #BDC1C7;
$gray70: #8992A1;
$gray90: #4C5D7A;

// errors/success colors
$red: #FF3939;
$red10: #FFEBEB;
$green: #1DA379;
$green10: #E8F6F2;

// disabled colors
$disabledBtn: #BFE0EE;
