@import '../../styles/media.scss';

:host ::ng-deep {
  .spinner{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(#fff, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2000;

    &-img {
      display: inline-block;
      width: 47px;
      height: 64px;
      @include tablets {
        width: 57px;
        height: 74px;
      }
    }
  }
}
