@import '../../../../styles/media.scss';
@import '../../../../styles/variables.scss';

:host ::ng-deep {
  .total {
    @include tabletsHoriz {
      min-width: 288px;
      max-width: 288px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 2px 6px 0 rgba(170,170,170,0.16);
      padding: 24px 16px;
    }
    @include desktop {
      padding: 24px;
    }

    & .title {
      margin-bottom: 4px;
    }

    & .amount {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      color: #192F57;
      letter-spacing: .09px;
      @include tablets {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: .11px;
      }
      @include desktop {
        font-size: 18px;
        letter-spacing: .12px;
      }
    }

    &-balance {
      margin-bottom: 24px;
      &__amount {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        color: #192F57;
        letter-spacing: .16px;
        @include tablets {
          font-size: 30px;
          line-height: 48px;
          letter-spacing: .22px;
        }
        @include desktop {
          font-size: 36px;
          letter-spacing: .24px;
        }
      }
    }

    &-category {
      margin-bottom: 24px;
    }

    &-deposit {
      &__amount {
        margin-bottom: 4px;
      }
    }
  }
}
