@import '../../../../styles/media.scss';
@import '../../../../styles/variables.scss';

:host ::ng-deep {
  .go-back {
    display: inline-block;
    margin-bottom: 16px;
    padding: 5px 0;
    @include tablets {
      padding: 0;
    }

    &__text {
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      letter-spacing: .09px;
      color: $blue50;
      padding-left: 16px;
      position: relative;
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: url("/assets/img/arrow-back-blue-small.svg") no-repeat;
      }
    }
  }
}
