<section class="deposit">
  <div class="deposit-title h1">
    {{'ONE_TIME_DEPOSIT_PAGE.ONE_TIME_DEPOSIT_ORDER' | translate}}
  </div>
  <div class="deposit-content order-content">

    <div class="deposit-request order-request">
      <div class="deposit-request__title order-request__title">
        {{'ONE_TIME_DEPOSIT_PAGE.REQUEST.TITLE' | translate}}
      </div>
      <div class="deposit-request__form">
        <form class="form" [formGroup]="depositOrderFormGroup" (ngSubmit)="onSubmit()">

          <div class="form-amount">
            <app-currency-input
              [formControl]="amountFormControl"
              [isInvalid]="amountFormControl.invalid && amountFormControl.dirty">
            </app-currency-input>
            <ng-container *ngIf="amountFormControl as control">
              <div class="errors" *ngIf="control.dirty && control.invalid">
                <div class="errors-item" *ngIf="control.errors.min || control.errors.max">
                  {{'MESSAGES.WRONG_AMOUNT' | translate : {min: minMaxValues.min, max: (minMaxValues.max | currencySignPipe : 0 | async) } }}
                </div>
                <div class="errors-item" *ngIf="control.errors.required">
                  {{'MESSAGES.REQUIRED' | translate}}
                </div>
              </div>
            </ng-container>
          </div>

          <div class="form-notification">
            {{'ONE_TIME_DEPOSIT_PAGE.REQUEST.NOTIFICATION_PART_1' | translate}}
            <span class="form-notification__amount">{{250 | currencySignPipe : 0 | async}}</span>.
            {{'ONE_TIME_DEPOSIT_PAGE.REQUEST.NOTIFICATION_PART_2' | translate}}
            <a class="form-notification__link" [routerLink]="['/orders/new/monthly']">{{'ONE_TIME_DEPOSIT_PAGE.REQUEST.NOTIFICATION_PART_3' | translate}}</a>
            {{'ONE_TIME_DEPOSIT_PAGE.REQUEST.NOTIFICATION_PART_4' | translate}}
          </div>
          <div class="form-submit">
            <p-button class="button-blue"
              [disabled]="!depositOrderFormGroup.valid"
              [label]="'COMMON.MAKE_A_REQUEST' | translate"
              [type]="'submit'"
            ></p-button>
          </div>
        </form>
      </div>
    </div>

    <div class="deposit-summary">
      <div class="summary">
        <div class="summary-title">
          {{'COMMON.ORDER_SUMMARY' | translate}}
        </div>
        <div class="summary-content">
          <div class="summary-amount">
            <div class="summary-amount__title">
              {{'ONE_TIME_DEPOSIT_PAGE.ORDER_SUMMARY.DEPOSIT_AMOUNT' | translate}}
            </div>
            <div class="summary-amount__number">
              {{(+amountFormControl.value || 0) | currencySignPipe | async}}
            </div>
          </div>
          <div class="summary-account" *ngIf="(selectedCustomer$ | async) as customer">
            <div class="summary-account__title">
              {{'ONE_TIME_DEPOSIT_PAGE.ORDER_SUMMARY.REFERENCE_ACCOUNT_FOR_DIRECT_DEBIT' | translate}}
            </div>
            <div class="summary-account__item">
              {{customer.holderName}}
            </div>
            <div class="summary-account__item">
              {{customer.bankAccount.iban}}
            </div>
            <div class="summary-account__item">
              {{customer.bankAccount.bank}}
            </div>
          </div>
          <div class="summary-processing">
            {{'ONE_TIME_DEPOSIT_PAGE.ORDER_SUMMARY.ORDER_TAKES' | translate}}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
