<footer class="footer">
  <div class="footer-container container">
    <div class="contact">
      <div class="contact-text">
        <span class="need-help">{{'FOOTER.NEED_HELP' | translate}} </span>
        <span>{{'FOOTER.CONTACT_US' | translate}}</span>
      </div>
      <div class="contact-phone">
        <a href="mailto:service@****.de">service@****.de</a>
        |
        <a href="{{ 'EXTERNAL_LINKS.WEBSITE.BOOK_A_CALL' | translate:{ domain: domain } }}" target="_blank">{{'FOOTER.BOOK_A_CALL' | translate}}</a>
      </div>
    </div>
    <div class="links">
      <a href="{{ 'EXTERNAL_LINKS.WEBSITE.PRIVACY' | translate:{ domain: domain } }}" target="_blank">{{'FOOTER.PRIVACY' | translate}}</a>
      <span>|</span>
      <a href="{{ 'EXTERNAL_LINKS.WEBSITE.LEGAL_INFORMATION' | translate:{ domain: domain } }}" target="_blank">{{'FOOTER.LEGAL_INFORMATION' | translate}}</a>
      <span>|</span>
      <a href="{{ 'EXTERNAL_LINKS.WEBSITE.LEGAL_NOTICE' | translate:{ domain: domain } }}" target="_blank">{{'FOOTER.LEGAL_NOTICE' | translate}}</a>
    </div>
  </div>
</footer>
